* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  padding: 5%;
}

.marksm {
  background-color: dodgerblue;
  color: black;
}

hr {
  margin: 5%;
}
